.color645FFB { color: #645FFB;}
.colorFA8C10 { color: #FA8C10;}
.color3A9FF { color: #3A9FF1;}
.color000000 {color: #000000}
.colorFFFFFF {color:#FFFFFF}
.color7978D9 {color: #7978D9}
.color7B61FF {color: #7B61FF}
.color2F2F2F {color: #2F2F2F}
.color484848 {color: #484848}


.bg-color3A9FF1 {background-color: #3A9FF1;}
.bg-colorFF576B {background-color: #FF576B;}
.bg-colorB9B9B9 {background-color: #B9B9B9;}
.bg-colorFFFFFF {background-color: #FFFFFF;}
.bg-colorFAFAFA {background-color: #FAFAFA;}
.bg-color7978D9 {background-color: #7978D9}
.bg-colorE4F2FD {background-color: #E4F2FD;}
.bg-colorEAEAEA {background-color: #EAEAEA;}